body {
    margin: 0;
}

header {
    background-color: #FFFFFF;
    width: 100%;
    margin: 0;
    /* position: sticky; */
}

main {
    background-color: #FAFAFA;
}

/* .ul-navbar {
    display: flex;
    justify-content: space-around;
    height: 2.7em;
    padding-left: 0;
}

.navbar-icon {
    color: black;
    font-size: 1.2em;
    padding: 0 1em;
}

li {
    list-style-type: none;

}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 6em;
    margin-right: 3em;
    align-items: center;

}

*/

.site-title {
    font-family: 'pacifico';
    color: #337ab7;
    font-size: 2em;

    
    
}

.title {
    width: 100%;
    margin-left: 2em;
    

}




/* ------------------- POSTS IN FEED -------------------- */

ul {
    padding-left: 0;
}


.post {
    display: flex;
    justify-content: center;
}

.postLike {
    padding-top: 0.3em;
    padding-right: 2em;
    font-size: 0.9em;
}
.commentsAndLikes {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:#FFFFFF;
    
}

.commentForm {
    background-color: #FFFFFF;
}

.singlePost {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF
}

.commentList {
    padding-left: 0;
    
}

.commentUser {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: #262626;
    font-weight: bold;

}

.captionAndLike {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 600px;
}

.commentContent {
    display: inline-block;
    padding-left: 1em;
    font-weight: lighter;
    font-size: 12px;
    color: #000000;

}



.theComment {
    width: 301px;
}

.userInformation {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.user_profile_image {
    max-height: 40px;
    border-radius: 50%;
    height: 2.5em;
    width: 1.8em;
    border: 0.5px solid black;
}

.user_profile_picture {
    max-height: 40px;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    border: 0.5px solid black;
}

h4 {
    padding-left: 1.5em;
}

.container {
    background-color: #FAFAFA
}

.singlePost {
    max-width: 600px;
    margin-right: 0;
}


/* --------------------------------NAVBAR TESTING -------------------------------- */

ul.nav.nav-pills{
    display: flex;
    flex-direction: row-reverse;
}

.navbar-icon {
    color: #a5adb0;
    font-size: 1.8em;
}

.dropdown-toggle {
    color: #337ab7;
    font-size: 1.8em;
}


header {
    height: 5.4em;
    background-color: #FFFFFF;
}

.navbar-icon:hover {
    color: #337ab7;
    
}

.navbar-icon:hover, .site-title:hover, .dropdown-toggle:hover{
    background-color: white !important;
}


.dropedown-menu {
    width: 10px;
}

.nav {
    padding-right: 2em;
}

.thePosts {
    display: flex;
    flex-direction: column;
    align-items: center;
}