{% extends petpals_app/base.html %}

{% block about %}
<h1>About Pet Pals</h1>
<p>Pet Pals is the go-to media site for you and your pet. 


        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in tempor nunc. Sed suscipit ornare tristique. Suspendisse dignissim, diam sit amet elementum sagittis, augue neque suscipit quam, iaculis interdum turpis arcu ac neque. Proin in dui rhoncus, finibus felis vitae, luctus odio. Nullam ornare viverra pellentesque. Morbi mollis et libero vel varius. Aliquam sodales, dolor vel ornare suscipit, risus felis semper ligula, et fringilla metus magna ut ante. Phasellus turpis turpis, dictum non lobortis a, porttitor ut velit. Donec nisl risus, ullamcorper non erat nec, facilisis fermentum purus. Phasellus non odio enim. Aenean a auctor tortor, id tempus risus. Sed porta elit sed massa scelerisque elementum.
</p>



{% endblock %}