{% extends "petpals_app/base.html" %}
{% load staticfiles %}

{% block content %}
<div class='exploreContainer'>
    <div class="explore">
    {% for photo in photos %}
        <div class ='exploreBox' value='{{photo.caption}} - <a href={% url 'other_profile' pk=photo.user.id %} >{{photo.user.username}}</a>'>
            <img src="{{ photo.image.url }}">
            <span class='overlay'> "{{photo.caption}}"" <p><a href={% url 'other_profile' pk=photo.user.id %} >- {{photo.user.username}}</a></p></span>
        </div>
    {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
        {% if photos.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ photos.previous_page_number }}">Previous</a>
        {% endif %}
        <span ="current">
            Page {{ photos.number }} of {{ photos.paginator.num_pages }}
        </span>

        {% if photos.has_next %}
            <a href="?page={{ photos.next_page_number }}">Next</a>
            <a href="?page={{ photos.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
        </span>
    </div>
</div>
{% endblock %}