{% extends 'petpals_app/base.html' %}

{% block content %}


<div class='thePosts'>
    {% for post in posts %}
    <hr>
    <ul class='singlePost'>
        <article class='post'>
            <li class="singlePost">
                <section class='userInformation'>
                <img class="user_profile_picture" src="{{post.user.profile.profile_picture.url }}" width=30px>
                <h4><a href={% url 'other_profile' pk=post.user.id %} >{{post.user.username}}</a></h4>
                </section>
                <img src="{{post.image.url}}" width="598px">
                <article class = 'captionAndLike'>

                    <form class="likeform" method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <input type='hidden' class='new_post' name="post" value={{post.id}}>
                    <input class='user' type='hidden' name='user' value={{request.user.id}}>
                    <p>likes: {{post.likes}} </p>
                    <input type='hidden' class='like_counter' value={{post.likes}}>
                    <button class='postLike' value={{post.id}} type='submit' style='border: none'><i class="far fa-heart"></i></button>
                    </form>
                    {{post.caption}}

                    <article class="commentsAndLikes">
                        <form id='commentForm' method='POST' enctype="multipart/form-data" type="submit">
                            {% csrf_token %}
                            <input type='text' id="commentBox" name='content' placeholder="Add Comment">
                            <input type='hidden' name='post_id' required id='id_post_id' value={{post.id}} />
                            </form>
                            <div class="commentsContainer">
                            {% for comment in post.comments.all %}
                        
                                <ul class='commentList'>
                                    <li class='comment'>
                                        <article class='theComment'>
                                            <p class='commentUser' data-id='{{comment.user}}'><a href={% url 'other_profile' pk=comment.user.id %}>{{ comment.user }}</a></p><p class='commentContent' data-id='{{comment.post.id}}' > {{ comment.content }}</p>
                                        </article>
                                    </li>
                                </ul>
                                {% endfor %}    
                            </div>
                    </article>

                </article>
            </li>
        </article>
        
        
    </ul>
    {% endfor %}
</div>
{% endblock %}