{% extends 'petpals_app/base.html' %}
{% load staticfiles %}

{% block profile_view %}
    <h1>{{user.username}}</h1>
    <img src="{{ user.profile.profile_picture.url }}" width="250px" alt="">
        <p>Name: {{ user.profile.name }}</p>
        <p>Age: {{ user.profile.age }}</p>
        <p>Breed: {{ user.profile.breed }}</p>
        <p>Bio: {{ user.profile.bio }}</p>
        <p><a href = "{% url 'profile_edit' %}">Edit Profile</a></p>
        <hr>

    {% for post in posts %}
        <img src="{{ post.image.url }}" width="250px" alt="">
        <!-- On hover, show caption OR remove caption entirely -->
        <p>{{ post.caption }}</p>
    {% endfor %}
{% endblock %}