{% extends 'petpals_app/base.html' %}

{% block profile_view %}
<div class ="profile_wrapper">
    <div class="profile_info_container">
        <div class ="username">
            <h1>{{user.username}}</h1>
        </div>
        <div class= "not_username">
            <div class="profile_pic_block">
                <img src="{{ user.profile.profile_picture.url }}" width="auto" height="250px" alt="">
            </div>
            <div class ="profile_text_block">
                <a href = "{% url 'profile_edit' %}">Edit Profile</a>
                <p><strong>Name:</strong> {{ user.profile.name }}</p>
                <p><strong>Age:</strong> {{ user.profile.age }}</p>
                <p><strong>Breed:</strong> {{ user.profile.breed }}</p>
                <p><strong>Bio:</strong> {{ user.profile.bio }}</p>
            </div> 
        </div>  
    </div>
    <div class="profile_posts_container">
        <div class = "profile_posts_header">
            <h1> Posts by {{user.username}} </h1>
        </div>
        <div class="profile_posts">
        {% for post in posts %}
            <div class="profile_post_box">
                <img src="{{ post.image.url }}" alt="">
                <span class='post_overlay'> "{{post.caption}}" </span>
            </div>
        {% endfor %}
        </div> 
    </div>
</div>    
{% endblock %}